/** Navigation Bar **/
.nav ul {
    background-color: rgba(0,0,0,.8);
    text-align: center;
    list-style: none;
    padding: 5px;
    margin: 0;
}
.nav li {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom: 1px solid #888;
    margin-right: 10px;
    margin-left: 10px;
    line-height: 40px;
    font-size: 1.2em;
    height: 40px;
}
.nav a {
    transition: .3s background-color;
    text-decoration: none;
    display: block;
    color: #fff;
    border-radius: .5em;
}
.nav a:hover {
    background-color: rgb(255, 131, 44);
    
    animation-name: wiggle;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out
}
.nav a.active {
  background-color: #fff;
  cursor: default;
  color: #444;
}
/** Company Logo **/
.companyLogo {
    background-color: rgba(0,0,0,.8);
    width: 100%;
    text-align: center;
    top: 0;
    padding: .5em;
    font-size: 2em;
}

/** Window Size **/
@media (min-width: 600px) {
    .companyLogo {
        position: fixed;
        width: auto;
        background-color: rgba(0,0,0,.0);
        top: 0;
        padding: .5em;
        font-size: 1.5em;
    }
    /** Navigation Size **/
    .nav li {
        border-bottom: none;
        line-height: 50px;
        font-size: 1.4em;
        width: 120px;
        height: 50px;
    }
    /** Display Inline **/
    .nav li {
        display: inline-block;
        margin-right: -4px;
    }
}

@keyframes wiggle {
    0% { transform: rotateZ(4deg); }
/*    25% { transform: rotateZ(-4deg); }*/
    50% { transform: rotateZ(-4deg); }
/*    75% { transform: rotateZ(4deg); }*/
    100% { transform: rotateZ(4deg); }
}
