/** Main Area **/
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
body {
	font-family: 'Baloo Tamma', cursive;
	font-color: white;
	font-weight:300;
	font-size:35px;
	line-height:30px;
	background-image:url("https://raw.githubusercontent.com/Smoreley/collab-w1-d4/master/imgs/volcano02-lava-flow-ocean-hawaii_22329_600x450.jpg");	 background-repeat:no-repeat;
  	background-size: cover;
  	text-align: center;
  	margin: 0;
}
p {
	font-size:15px;
	line-height:13px;
	font-color:white;
	text-align: center;
}
div {
	text-align: center;
}
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

/** Nav bar **/
.nav ul {
  list-style: none;
  background-color: rgba(0,0,0,0.5);
  /*background-color: #FF0000;*/
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.nav li {
  font-family: 'Baloo Tamma', cursive;
  font-size: 16px;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
.nav a:hover {
  background-color: #484848;
}
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
/** Window Sizes **/
@media screen and (min-width: 600px) {
.nav li {
  width: 120px;
  border-bottom: none;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
}
 
/* Option 1 - Display Inline */
.nav li {
  display: inline-block;
  margin-right: -4px;
}
} 

.fieldset {
	border: none;
}